*{
  margin: 0;
  box-sizing: border-box;
}

.main-container{
  margin-top: 115px;
  background-color: rgb(134, 69, 109);
  height: auto;
}

.land_name{
  height: 60px;
  padding: 5px;
  text-align: center;
  padding-top: 15px;
  font-size: 20px;
  font-weight: 500;
}

.abstract_details{
  display: flex;
}

.image_container{
  position: relative;
  background-color: aquamarine;
  flex: 1;
  min-width: 400px;
  max-width: 750px;
  min-height: 100px;
  max-height: 430px;
  padding: 15px;
  margin-left: 15px;
}

.image_container svg{
  z-index: 10;
  position: absolute;
  top: 30px;
  right: 50px;
  padding: 7px;
  height: 40px;
  width: 40px;
  border-radius: 30%;
}



.image_container svg:hover{
  background-color: rgb(224, 224, 224);
}

.swiper{
  height: 100%;
  width: 100%;
}

.basic_landdetails{
  /* max-height: 500px; */
  margin-left: 10px;
  flex: 1;
  display: flex;
  padding: 5px 0px;
  flex-direction: column;
  align-items: center;
  background-color: chartreuse;
  gap: 7px;
}

.details_templates{
  flex: 1;
  display: flex;
  width: 100%;
  justify-content: space-around;
  background-color: brown;

}

.data_box{
  display: flex;
  height: 85px;
  background-color: aqua;
  width: 300px;
  align-items: center;
  justify-content: center;
}

.icons_img{
  width: 80px;
  height: 100%;
  flex-shrink: 0;
  background-color: blue;
}

.data{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgb(69, 169, 29);
  align-items: center;
}

/* .data div{
  padding: 10px;
} */

.addtocart{
  margin-top: 10px;
  padding: 10px 50px ;
  margin-bottom: 10px;
}

.owner_container{
 background-color: bisque;
 height: 270px;
 padding: 10px;
}

.owner_detail{
  height: 50px;
  text-align: center;
  padding-top: 6px;
}

.owner_details{

  display: grid;
  grid-template-columns: 220px 200px 1fr;
  margin-left: 10px;
}

.owner_img{
  background-color: fuchsia;
  height: 200px;
  width: 200px;
}

.contact_info{
  display: flex;
  flex-direction: column;
  background-color: darkgoldenrod;
  gap: 2px;
}

.contact_info .ownerdetails_template{
  display: flex;
  background-color: aquamarine;
  height: 100%;
  justify-content: space-around;
}

/* .ownerdetails_template:first-child,.ownerdetails_template:last-child{
  background-color: rgb(159, 20, 103);
} */

.contact_no,.gmail,.Properties_no,.Localities{
  background-color: blue;
  width: 200px;
  display: flex;
}

.data_icons{
  width: 60px;
  height: 100%;
  background-color: brown;
}

.data_conatiner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.container3{
  height: 400px;
  background-color: rgb(29, 91, 146);
  display: flex;
  /* grid-template-columns: minmax(300px,500px), 1fr; */
}

.container3 .mapcontainer{
  background-color: aliceblue;
  flex: 1;
}

.container3 .complete_details_container{
  flex: 1;
}

.about_us{
  height: 400px;
  background-color: blue;
}


