*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body
{
    min-height: 100vh;
    /* background-position: center; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.sidebar
{
    background-color: #D7FDC4;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 300px;
    align-items: center;
    box-shadow: 5px 0px 15px rgba(0,0,0,0.3);
    position: fixed;
    border: 5px solid #D7FDC4;
}

a
{
    text-decoration: none;
    color: darkgreen;
}
.tutorial
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98%;
    padding: 30px;
    position: relative;
    background: #D7FDC4;
    margin-top: 3px;
}
@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }
.tutorial::after,.tutorial::before
{
    content:'';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle),#f0fcab,#60bf8f);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    animation: 3s spin linear infinite;

} 
.tutorial::before
{
    filter: blur(1.5rem);
    opacity: 0.5;
}
.discussion
{
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98%;
    padding: 30px;
    /* border:1px solid black; */
    background: #D7FDC4;
    margin-top: 8px;
    position: relative;
    
}
.discussion::after,.discussion::before
{
    content:'';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle),#f0fcab,#60bf8f);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    animation: 3s spin linear infinite;
} 
@keyframes spin{
    from{
      --angle: 0deg;
    }
    to{
      --angle: 360deg;
    }
  }
  .tutorialmain
  {
      height: 100vh;
      background-color: red;
      display: flex;
      position: relative;
      margin-left: 300px;
      padding: 25px;
      
  }
  .t1
  {
      border: 3px solid black;
      display: flex;
      align-items: center;
      justify-items: center;
      height: 50%;
      width: 500px;
      position: relative;
      flex-direction: column;
      padding: 10px;
      border-radius: 5px;
  }
  .video1
  {
      display: flex;
      border: 3px solid black;
      height: 90%;
      width: 100%;
      align-items: center;
      justify-content: center;
      background-color: yellow;
      border-radius: 10px;
  }
  .video1 #v1
  {
      height: 100%;
      width: 100%;
      border-radius: 5px;
  }
  .t1 .textarea1
  {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 3px solid black;
      height: 20%;
      width: 100%;
      position: relative;
      top: 10px;
      margin-top: 5px;
      margin-bottom: 10px;
      border-radius: 10px;
  }
  .textarea1 #t1
  {
      height: 100%;
      width: 100%;
      padding: 5px;
      border-radius: 5px;
      background-color: red;
      
  }
  ::placeholder
  {
      color: black;
  }
  
